
NET "PS_PORB"   IOSTANDARD = LVCMOS33 | DRIVE = "8" | SLEW = "slow" | LOC = "B5" ; 
NET "PS_SRSTB"   IOSTANDARD = LVCMOS33 | DRIVE = "8" | SLEW = "slow" | LOC = "C9" ; 
NET "PS_CLK"   IOSTANDARD = LVCMOS33 | DRIVE = "8" | SLEW = "slow" | LOC = "F7" ; 

#NET   AUD_BCLK               IOSTANDARD = LVCMOS18   |   LOC  =  Y6;
#NET   AUD_I2S_DIN            IOSTANDARD = LVCMOS18   |   LOC  =  W8;
#NET   AUD_I2S_DOUT           IOSTANDARD = LVCMOS18   |   LOC  =  V10;
#NET   AUD_IRQ                IOSTANDARD = LVCMOS18   |   LOC  =  V8;
#NET   AUD_LRCLK              IOSTANDARD = LVCMOS18   |   LOC  =  AA7;
#NET   AUD_MCLK               IOSTANDARD = LVCMOS18   |   LOC  =  AA6;
NET   AVR_CS_R               IOSTANDARD = LVCMOS33   |   LOC  =  A22;
NET   AVR_IRQ                IOSTANDARD = LVCMOS33   |   LOC  =  B22;
NET   AVR_MISO_R             IOSTANDARD = LVCMOS33   |   LOC  =  C22;
NET   AVR_MOSI_R             IOSTANDARD = LVCMOS33   |   LOC  =  A21;
NET   AVR_SCK_R              IOSTANDARD = LVCMOS33   |   LOC  =  D22;
#NET   ETH0_CLK125            IOSTANDARD = LVCMOS18   |   LOC  =  Y5;
#NET   ETH0_IRQ               IOSTANDARD = LVCMOS18   |   LOC  =  G7;
#NET   ETH0_MDC               IOSTANDARD = LVCMOS18   |   LOC  =  D10;
#NET   ETH0_MDIO              IOSTANDARD = LVCMOS18   |   LOC  =  C12;
#NET   ETH0_PTP_TRIG          IOSTANDARD = LVCMOS18   |   LOC  =  U7;
#NET   ETH0_RESET             IOSTANDARD = LVCMOS18   |   LOC  =  B4;
#NET   ETH0_RGMII_RXCLK       IOSTANDARD = LVCMOS18   |   LOC  =  A14;
#NET   ETH0_RGMII_RXD         IOSTANDARD = LVCMOS18   |   LOC  =  A13;
#NET   ETH0_RGMII_RXD         IOSTANDARD = LVCMOS18   |   LOC  =  B7;
#NET   ETH0_RGMII_RXD         IOSTANDARD = LVCMOS18   |   LOC  =  E11;
#NET   ETH0_RGMII_RXD         IOSTANDARD = LVCMOS18   |   LOC  =  F12;
#NET   ETH0_RJ45_LED_G        IOSTANDARD = LVCMOS33   |   LOC  =  G15;
#NET   ETH0_RJ45_LED_Y        IOSTANDARD = LVCMOS33   |   LOC  =  G16;
#GPS_32KHZ is deleted in E200 R2
#NET   GPS_32KHZ              IOSTANDARD = LVCMOS18   |   LOC  =  Y8;
#NET   GPS_ON                 IOSTANDARD = LVCMOS18   |   LOC  =  D13;
#NET   GPS_PPS                IOSTANDARD = LVCMOS18   |   LOC  =  Y9;
NET   ONSWITCH_DB            IOSTANDARD = LVCMOS33   |   LOC  =  E21;
#NET   OSC_33_MHz             IOSTANDARD = LVCMOS18   |   LOC  =  F7;
#NET   PPS_EXT_IN             IOSTANDARD = LVCMOS33   |   LOC  =  D18;
#RTC_32KHZ is deleted in E200 R2
#NET   RTC_32KHZ              IOSTANDARD = LVCMOS33   |   LOC  =  C17;
#NET   SD_DET                 IOSTANDARD = LVCMOS18   |   LOC  =  G6;
