
NET "PS_PORB"   IOSTANDARD = LVCMOS33 |DRIVE = "8" |SLEW = "slow" |LOC = "B5" ;
NET "PS_SRSTB"   IOSTANDARD = LVCMOS33 |DRIVE = "8" |SLEW = "slow" |LOC = "C9" ;
NET "PS_CLK"   IOSTANDARD = LVCMOS33 |DRIVE = "8" |SLEW = "slow" |LOC = "F7" ;

NET   AVR_CS_R               IOSTANDARD = LVCMOS33   |LOC  =  A22;
NET   AVR_IRQ                IOSTANDARD = LVCMOS33   |LOC  =  B22;
NET   AVR_MISO_R             IOSTANDARD = LVCMOS33   |LOC  =  C22;
NET   AVR_MOSI_R             IOSTANDARD = LVCMOS33   |LOC  =  A21;
NET   AVR_SCK_R              IOSTANDARD = LVCMOS33   |LOC  =  D22;
#NET   ETH0_CLK125            IOSTANDARD = LVCMOS18   |   LOC  =  Y5;
#NET   ETH0_IRQ               IOSTANDARD = LVCMOS18   |   LOC  =  G7;
#NET   ETH0_MDC               IOSTANDARD = LVCMOS18   |   LOC  =  D10;
#NET   ETH0_MDIO              IOSTANDARD = LVCMOS18   |   LOC  =  C12;
#NET   ETH0_PTP_TRIG          IOSTANDARD = LVCMOS18   |   LOC  =  U7;
#NET   ETH0_RESET             IOSTANDARD = LVCMOS18   |   LOC  =  B4;
#NET   ETH0_RGMII_RXCLK       IOSTANDARD = LVCMOS18   |   LOC  =  A14;
#NET   ETH0_RGMII_RXD         IOSTANDARD = LVCMOS18   |   LOC  =  A13;
#NET   ETH0_RGMII_RXD         IOSTANDARD = LVCMOS18   |   LOC  =  B7;
#NET   ETH0_RGMII_RXD         IOSTANDARD = LVCMOS18   |   LOC  =  E11;
#NET   ETH0_RGMII_RXD         IOSTANDARD = LVCMOS18   |   LOC  =  F12;
#NET   ETH0_RJ45_LED_G        IOSTANDARD = LVCMOS33   |   LOC  =  G15;
#NET   ETH0_RJ45_LED_Y        IOSTANDARD = LVCMOS33   |   LOC  =  G16;
#GPS_32KHZ is deleted in E200 R2
#NET   GPS_32KHZ              IOSTANDARD = LVCMOS18   |   LOC  =  Y8;
#NET   GPS_ON                 IOSTANDARD = LVCMOS18   |   LOC  =  D13;
NET   GPS_PPS                IOSTANDARD = LVCMOS18   |LOC  =  Y9;
#
NET TCXO_DAC_SYNCn IOSTANDARD = LVCMOS18 | LOC=K21;
NET TCXO_DAC_SCLK IOSTANDARD = LVCMOS18 | LOC=L22;
NET TCXO_DAC_SDIN IOSTANDARD = LVCMOS18 | LOC=L21;
NET TCXO_CLK IOSTANDARD = LVCMOS18 | LOC=M20 | CLOCK_DEDICATED_ROUTE = FALSE;
#
NET   ONSWITCH_DB            IOSTANDARD = LVCMOS33   |LOC  =  E21;
#NET   OSC_33_MHz             IOSTANDARD = LVCMOS18   |   LOC  =  F7;
NET   PPS_EXT_IN             IOSTANDARD = LVCMOS33   |LOC  =  D18;
#RTC_32KHZ is deleted in E200 R2
#NET   RTC_32KHZ              IOSTANDARD = LVCMOS33   |   LOC  =  C17;
#NET   SD_DET                 IOSTANDARD = LVCMOS18   |   LOC  =  G6;
NET  PL_GPIO<0> IOSTANDARD = LVCMOS33 |LOC = E16;
NET  PL_GPIO<1> IOSTANDARD = LVCMOS33 |LOC = C18;
NET  PL_GPIO<2> IOSTANDARD = LVCMOS33 |LOC = D17;
NET  PL_GPIO<3> IOSTANDARD = LVCMOS33 |LOC = D16;
NET  PL_GPIO<4> IOSTANDARD = LVCMOS33 |LOC = D15;
NET  PL_GPIO<5> IOSTANDARD = LVCMOS33 |LOC = E15;
#Created by Constraints Editor (xc7z020-clg484-1) - 2014/07/22
INST "CAT_P0_D<0>" TNM = catcap;
INST "CAT_P0_D<1>" TNM = catcap;
INST "CAT_P0_D<2>" TNM = catcap;
INST "CAT_P0_D<3>" TNM = catcap;
INST "CAT_P0_D<4>" TNM = catcap;
INST "CAT_P0_D<5>" TNM = catcap;
INST "CAT_P0_D<6>" TNM = catcap;
INST "CAT_P0_D<7>" TNM = catcap;
INST "CAT_P0_D<8>" TNM = catcap;
INST "CAT_P0_D<9>" TNM = catcap;
INST "CAT_P0_D<10>" TNM = catcap;
INST "CAT_P0_D<11>" TNM = catcap;
INST "CAT_RX_FRAME" TNM = catcap;
TIMEGRP "catcap" OFFSET = IN 4500 ps VALID 7138 ps BEFORE "CAT_DATA_CLK" RISING;
TIMEGRP "catcap" OFFSET = IN 4500 ps VALID 7138 ps BEFORE "CAT_DATA_CLK" FALLING;
#Created by Constraints Editor (xc7z020-clg484-1) - 2014/07/24
INST "CAT_P1_D<0>" TNM = catcodec_tx;
INST "CAT_P1_D<1>" TNM = catcodec_tx;
INST "CAT_P1_D<2>" TNM = catcodec_tx;
INST "CAT_P1_D<3>" TNM = catcodec_tx;
INST "CAT_P1_D<4>" TNM = catcodec_tx;
INST "CAT_P1_D<5>" TNM = catcodec_tx;
INST "CAT_P1_D<6>" TNM = catcodec_tx;
INST "CAT_P1_D<7>" TNM = catcodec_tx;
INST "CAT_P1_D<8>" TNM = catcodec_tx;
INST "CAT_P1_D<9>" TNM = catcodec_tx;
INST "CAT_P1_D<10>" TNM = catcodec_tx;
INST "CAT_P1_D<11>" TNM = catcodec_tx;
INST "CAT_TX_FRAME" TNM = catcodec_tx;
INST "CAT_P1_D<0>" TNM = catcodec_tx;
INST "CAT_P1_D<1>" TNM = catcodec_tx;
INST "CAT_P1_D<2>" TNM = catcodec_tx;
INST "CAT_P1_D<3>" TNM = catcodec_tx;
INST "CAT_P1_D<4>" TNM = catcodec_tx;
INST "CAT_P1_D<5>" TNM = catcodec_tx;
INST "CAT_P1_D<6>" TNM = catcodec_tx;
INST "CAT_P1_D<7>" TNM = catcodec_tx;
INST "CAT_P1_D<8>" TNM = catcodec_tx;
INST "CAT_P1_D<9>" TNM = catcodec_tx;
INST "CAT_P1_D<10>" TNM = catcodec_tx;
INST "CAT_P1_D<11>" TNM = catcodec_tx;
INST "CAT_TX_FRAME" TNM = catcodec_tx;
INST "CAT_FB_CLK" TNM = catcodec_tx;
TIMEGRP "catcodec_tx" OFFSET = OUT AFTER "CAT_DATA_CLK" REFERENCE_PIN "CAT_FB_CLK" RISING;
TIMEGRP "catcodec_tx" OFFSET = OUT AFTER "CAT_DATA_CLK" REFERENCE_PIN "CAT_FB_CLK" FALLING;
