# Pin 1
NET TX_BANDSEL<2>	IOSTANDARD = LVCMOS33	|	LOC = H19;
# Pin 2
# 3.3v DB
# Pin 3
NET RX1B_BANDSEL<0>	IOSTANDARD = LVCMOS33	|	LOC = F19;
#Pin 4
# 3.3v DB
#Pin 5
NET RX1B_BANDSEL<1>	IOSTANDARD = LVCMOS33	|	LOC = G19;
#Pin 6
NET RX1_BANDSEL<0>	IOSTANDARD = LVCMOS33	|	LOC = E19;
#Pin 7
NET VCTXRX2_V2		IOSTANDARD = LVCMOS33	|	LOC = E20;
#Pin 8
NET RX1_BANDSEL<1>	IOSTANDARD = LVCMOS33	|	LOC = G21;
#Pin 9
NET TX_ENABLE1A		IOSTANDARD = LVCMOS33	|	LOC = G22;
#Pin 10
NET RX1_BANDSEL<2>	IOSTANDARD = LVCMOS33	|	LOC = G20;
#Pin 11
NET TX_ENABLE2A		IOSTANDARD = LVCMOS33	|	LOC = H22;
#Pin 12
NET TX_BANDSEL<0>	IOSTANDARD = LVCMOS33	|	LOC = F22;
#Pin 13
NET TX_ENABLE1B		IOSTANDARD = LVCMOS33	|	LOC = A17;
#Pin 14
NET TX_BANDSEL<1>	IOSTANDARD = LVCMOS33	|	LOC = F21;
#Pin 15
NET TX_ENABLE2B		IOSTANDARD = LVCMOS33	|	LOC = B16;
#Pin 16
#NET DB_SCL		IOSTANDARD = LVCMOS18	|	LOC = J21;
#Pin 17
NET RX1C_BANDSEL<0>	IOSTANDARD = LVCMOS33	|	LOC = A19;
#Pin 18
#NET DB_SDA		IOSTANDARD = LVCMOS18	|	LOC = J22;
#Pin 19
NET RX1C_BANDSEL<1>	IOSTANDARD = LVCMOS33	|	LOC = B15;
#Pin 20
NET DB_EXP_1_8V<2>	IOSTANDARD = LVCMOS18	|	LOC = K21;
#Pin 21
NET VCTXRX2_V1		IOSTANDARD = LVCMOS33	|	LOC = A16;
#Pin 22
NET DB_EXP_1_8V<3>	IOSTANDARD = LVCMOS18	|	LOC = L22;
#Pin 23
NET VCTXRX1_V2		IOSTANDARD = LVCMOS33	|	LOC = B17;
#Pin 24
NET DB_EXP_1_8V<4>	IOSTANDARD = LVCMOS18	|	LOC = L21;
#Pin 25
NET VCTXRX1_V1		IOSTANDARD = LVCMOS33	|	LOC = C15;
#Pin 26
NET DB_EXP_1_8V<5>	IOSTANDARD = LVCMOS18	|	LOC = R18;
#Pin 27
NET VCRX1_V1		IOSTANDARD = LVCMOS33	|	LOC = E18;
#Pin 28
NET DB_EXP_1_8V<6>	IOSTANDARD = LVCMOS18	|	LOC = T18;
#Pin 29
NET VCRX1_V2		IOSTANDARD = LVCMOS33	|	LOC = F18;
#Pin 30
NET DB_EXP_1_8V<7>	IOSTANDARD = LVCMOS18	|	LOC = M20;
#Pin 31
NET VCRX2_V1		IOSTANDARD = LVCMOS33	|	LOC = F17;
#Pin 32
NET DB_EXP_1_8V<8>	IOSTANDARD = LVCMOS18	|	LOC = M15;
#Pin 33
NET VCRX2_V2		IOSTANDARD = LVCMOS33	|	LOC = G17;
#Pin 34
NET DB_EXP_1_8V<9>	IOSTANDARD = LVCMOS18	|	LOC = J18;
#Pin 35
NET CAT_CTRL_IN<2>	IOSTANDARD = LVCMOS18	|	LOC = U5;
#Pin 36
NET DB_EXP_1_8V<10>	IOSTANDARD = LVCMOS18	|	LOC = J20;
#Pin 37
NET CAT_CTRL_IN<3>	IOSTANDARD = LVCMOS18	|	LOC = U6;
#Pin 38
NET DB_EXP_1_8V<11>	IOSTANDARD = LVCMOS18	|	LOC = K19;
#Pin 39
NET CAT_CTRL_OUT<0>	IOSTANDARD = LVCMOS18	|	LOC = AB5;
#Pin 40
NET CAT_CTRL_OUT<4>	IOSTANDARD = LVCMOS18	|	LOC = K20;
#Pin 41
NET CAT_CTRL_OUT<1>	IOSTANDARD = LVCMOS18	|	LOC = AB6;
#Pin 42
NET CAT_CTRL_OUT<5>	IOSTANDARD = LVCMOS18	|	LOC = L19;
#Pin 43
NET CAT_CTRL_OUT<2>	IOSTANDARD = LVCMOS18	|	LOC = AB7;
#Pin 44
NET CAT_CTRL_OUT<6>	IOSTANDARD = LVCMOS18	|	LOC = V12;
#Pin 45
NET CAT_CTRL_OUT<3>	IOSTANDARD = LVCMOS18	|	LOC = AA4;
#Pin 46
NET CAT_CTRL_OUT<7>	IOSTANDARD = LVCMOS18	|	LOC = W12;
#Pin 47
NET DB_EXP_1_8V<31>	IOSTANDARD = LVCMOS18	|	LOC = T6;
#Pin 48
NET CAT_RESET		IOSTANDARD = LVCMOS18	|	LOC = U11;
#Pin 49
# 1.8V
#Pin 50
NET CAT_CS		IOSTANDARD = LVCMOS18	|	LOC = W6;
#Pin 51
# 1.8V
#Pin 52
NET CAT_SCLK		IOSTANDARD = LVCMOS18	|	LOC = W5;
#Pin 53
# 5V
#Pin 54
NET CAT_MOSI		IOSTANDARD = LVCMOS18	|	LOC = V7;
#Pin 55
# 5V
#Pin 56
NET CAT_MISO		IOSTANDARD = LVCMOS18	|	LOC = W7;
#Pin 57
# 5V
#Pin 58
NET CAT_CTRL_IN<0>	IOSTANDARD = LVCMOS18	|	LOC = V4;
#Pin 59
# 5V
#Pin 60
NET CAT_CTRL_IN<1>	IOSTANDARD = LVCMOS18	|	LOC = V5;
#Pin 61
# 1.8V
#Pin 62
NET DB_EXP_1_8V<33>	IOSTANDARD = LVCMOS18	|	LOC = U4;
#Pin 63
# 1.8V
#Pin 64
NET DB_EXP_1_8V<34>		IOSTANDARD = LVCMOS18	|	LOC = T4;
#Pin 65
# GND
#Pin 66
NET DB_EXP_1_8V<32>	IOSTANDARD = LVCMOS18	|	LOC = R6;
#Pin 67
NET CAT_TXNRX		IOSTANDARD = LVCMOS18	|	LOC = AB1;
#Pin 68
# GND
#Pin 69
NET CAT_ENABLE		IOSTANDARD = LVCMOS18	|	LOC = AB4;
#Pin 70
NET CAT_BBCLK_OUT	IOSTANDARD = LVCMOS18	|	LOC = M19;
#Pin 71
NET CAT_ENAGC		IOSTANDARD = LVCMOS18	|	LOC = AB2;
#Pin 72
# GND
#Pin 73
# GND
#Pin 74
NET CAT_SYNC		IOSTANDARD = LVCMOS18	|	LOC = T16;
#Pin 78
NET CAT_P1_D<11>	IOSTANDARD = LVCMOS18	|	LOC = N15;
#Pin 76
# GND
#Pin 100
NET CAT_P1_D<10>	IOSTANDARD = LVCMOS18	|	LOC = N22;
#Pin 93
NET CAT_P0_D<11>	IOSTANDARD = LVCMOS18	|	LOC = M17;
#Pin 96
NET CAT_P1_D<9>		IOSTANDARD = LVCMOS18	|	LOC = T17;
#Pin 95
NET CAT_P0_D<10>	IOSTANDARD = LVCMOS18	|	LOC = N17;
#Pin 98
NET CAT_P1_D<8>		IOSTANDARD = LVCMOS18	|	LOC = M22;
#Pin 81
NET CAT_P0_D<9>		IOSTANDARD = LVCMOS18	|	LOC = K15;
#Pin 92
NET CAT_P1_D<7>		IOSTANDARD = LVCMOS18	|	LOC = P21;
#Pin 97
NET CAT_P0_D<8>		IOSTANDARD = LVCMOS18	|	LOC = N20;
#Pin 94
NET CAT_P1_D<6>		IOSTANDARD = LVCMOS18	|	LOC = R20;
#Pin 77
NET CAT_P0_D<7>		IOSTANDARD = LVCMOS18	|	LOC = J16;
#Pin 86
NET CAT_P1_D<5>		IOSTANDARD = LVCMOS18	|	LOC = P18;
#Pin 85
NET CAT_P0_D<6>		IOSTANDARD = LVCMOS18	|	LOC = K16;
#Pin 90
NET CAT_P1_D<4>		IOSTANDARD = LVCMOS18	|	LOC = P17;
#Pin 75
NET CAT_P0_D<5>		IOSTANDARD = LVCMOS18	|	LOC = J15;
#Pin 82
NET CAT_P1_D<3>		IOSTANDARD = LVCMOS18	|	LOC = P15;
#Pin 91
NET CAT_P0_D<4>		IOSTANDARD = LVCMOS18	|	LOC = M16;
#Pin 88
NET CAT_P1_D<2>		IOSTANDARD = LVCMOS18	|	LOC = P20;
#Pin 79
NET CAT_P0_D<3>		IOSTANDARD = LVCMOS18	|	LOC = J17;
#Pin 80
NET CAT_P1_D<1>		IOSTANDARD = LVCMOS18	|	LOC = M21;
#Pin 89
NET CAT_P0_D<2>		IOSTANDARD = LVCMOS18	|	LOC = L17;
#Pin 84
NET CAT_P1_D<0>		IOSTANDARD = LVCMOS18	|	LOC = N19;
#Pin 83
NET CAT_P0_D<1>		IOSTANDARD = LVCMOS18	|	LOC = K18;
#Pin 102
NET CAT_TX_FRAME	IOSTANDARD = LVCMOS18	|	LOC = P22;
#Pin 87
NET CAT_P0_D<0>		IOSTANDARD = LVCMOS18	|	LOC = L16;
#Pin 104
NET CAT_FB_CLK		IOSTANDARD = LVCMOS18	|	LOC = R21;
#Pin 99
NET CAT_RX_FRAME	IOSTANDARD = LVCMOS18	|	LOC = N18;
#Pin 103
# GND
#Pin 101
NET CAT_DATA_CLK	IOSTANDARD = LVCMOS18	|	LOC = L18;
NET "CAT_DATA_CLK" CLOCK_DEDICATED_ROUTE = FALSE;
#Pin 105
# 1.8V
#Pin 106
# GND
#Pin 107
NET RX2_BANDSEL<2>	IOSTANDARD = LVCMOS18	|	LOC = AA8;
#Pin 108
NET LED_TXRX1_TX	IOSTANDARD = LVCMOS18	|	LOC = Y11;
#Pin 109
NET RX2_BANDSEL<1>	IOSTANDARD = LVCMOS18	|	LOC = AA9;
#Pin 110
NET LED_TXRX1_RX	IOSTANDARD = LVCMOS18	|	LOC = AB10;
#Pin 111
NET RX2_BANDSEL<0>	IOSTANDARD = LVCMOS18	|	LOC = AB9;
#Pin 112
NET LED_RX1_RX  	IOSTANDARD = LVCMOS18	|	LOC = AA12;
#Pin 113
NET RX2C_BANDSEL<1>	IOSTANDARD = LVCMOS18	|	LOC = U10;
#Pin 114
NET LED_TXRX2_TX	IOSTANDARD = LVCMOS18	|	LOC = U12;
#Pin 115
NET RX2C_BANDSEL<0>	IOSTANDARD = LVCMOS18	|	LOC = Y10;
#Pin 116
NET LED_TXRX2_RX	IOSTANDARD = LVCMOS18	|	LOC = AB11;
#Pin 117
NET RX2B_BANDSEL<1>	IOSTANDARD = LVCMOS18	|	LOC = U9;
#Pin 118
NET LED_RX2_RX  	IOSTANDARD = LVCMOS18	|	LOC = AA11;
#Pin 119
NET RX2B_BANDSEL<0>	IOSTANDARD = LVCMOS18	|	LOC = Y4;
#Pin 120
NET DB_EXP_1_8V<24>	IOSTANDARD = LVCMOS18	|	LOC = AB12;
