// SPDX-License-Identifier: GPL-2.0 OR X11
/*
 * Copyright (c) 2018 National Instruments Corp
 */

&fpga_full {
	uio@40010000 {
		compatible = "usrp-uio";
		reg = <0x40010000 0x1000>;
		reg-names = "mboard-regs";
		status = "okay";
	};

	crossbar@40011000 {
		compatible = "ni,platform-crossbar-rp";
		reg = <0x40011000 0x1000>;
		status = "okay";
		rfnoc,ports = <0x10>;
		clocks = <&clkc 15>;
		clock-names = "bus_clk";
	};

	uio@40014000 {
		compatible = "usrp-uio";
		reg = <0x40014000 0x4000>;
		reg-names = "dboard-regs-0";
		status = "okay";
	};

	uio@40018000 {
		compatible = "usrp-uio";
		reg = <0x40018000 0x4000>;
		reg-names = "dboard-regs-1";
		status = "okay";
	};
};

&spi0 {
	status = "okay";

	cs-gpios = <0>, <0>, <0>, <&gpio0 54 0>;

	spidev0: spidev@0 {
		compatible = "rohm,dh2228fv";
		reg = <0>;
		status = "okay";
		spi-max-frequency = <1000000>;
	};

	spidev1: spidev@1 {
		compatible = "rohm,dh2228fv";
		reg = <1>;
		status = "okay";
		spi-max-frequency = <1000000>;
	};

	spidev2: spidev@2 {
		compatible = "rohm,dh2228fv";
		reg = <2>;
		status = "okay";
		spi-max-frequency = <1000000>;
	};

	spidev3: spidev@3 {
		compatible = "rohm,dh2228fv";
		reg = <3>;
		status = "okay";
		spi-max-frequency = <1000000>;
	};
};

&spi1 {
	status = "okay";

	cs-gpios = <0>, <0>, <0>, <&gpio0 55 0>;

	spidev4: spidev@0 {
		compatible = "rohm,dh2228fv";
		reg = <0>;
		status = "okay";
		spi-max-frequency = <1000000>;
	};

	spidev5: spidev@1 {
		compatible = "rohm,dh2228fv";
		reg = <1>;
		status = "okay";
		spi-max-frequency = <1000000>;
	};

	spidev6: spidev@2 {
		compatible = "rohm,dh2228fv";
		reg = <2>;
		status = "okay";
		spi-max-frequency = <1000000>;
	};

	spidev7: spidev@3 {
		compatible = "rohm,dh2228fv";
		reg = <3>;
		status = "okay";
		spi-max-frequency = <1000000>;
	};
};

&usrpio_i2c0 {
	ad7291@2f {
		compatible = "adi,ad7291";
		reg = <0x2f>;
	};
};

&usrpio_i2c1 {
	ad7291@2f {
		compatible = "adi,ad7291";
		reg = <0x2f>;
	};
};
